<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Ensure Node.js handles all requests -->
      <add name="nodeHandler" path="*" verb="*" modules="iisnode" scriptProcessor="server.js" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Redirect to Node.js" stopProcessing="true">
          <match url="/*" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
